$primary-color: #0fc4ca;
$primary-focus: #31d6d6;
$link-color: #0fc4ca;
$success-color: #00cdad;
$warning-color: #ff8737;
$error-color: #ff5b52;
$danger-color: #ff5b52;
$heading-color: #000;
$text-color: #222;
$text-color-secondary: #464646;
$disabled-color: #909090;

// $progress-start: $primary-color;
// $progress-finish: $success-color;
